
.header {
    background-color: #23262e;
}

.header .logo{
    height: 60px; 
    line-height: 60px; 
    color:#fafafa; 
    left: 10px; 
    font-size: larger;
}

.header .right-icon {
    float: right;
}
.header .right-icon a{
    color: #fafafa;
    height: 60px; 
    line-height:60px; 
    right:10px;
    margin: 0px 5px 0px 5px;
}


.layui-container .tools {
    margin: 20px;
}

.layui-container .explorer-main {
    border: 1px dashed orange; 
    border-radius: 5px;
    padding: 10px; 
    min-height: 450px;
}

.explorer-main .curr-menu {
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    border: 1px dashed #31BDEC;
    border-radius: 5px;
}

.explorer-main .curr-menu .stats{
    float: right;
}


.footer {
    height: 50px; line-height:50px; background-color:#eee;
    margin-top: 10px;
}
.footer p {
    text-align: center;
}




.upload_list_area {
    position: fixed; padding-bottom: 10px; bottom: 0px; border: 0; z-index:9900; display: none;
}
.upload_list_area .close {
    position:absolute; right:0px; top:5px;z-index:9901;cursor: pointer;
}
.upload_list_area .layui-upload-list{
    width: 1140px;
}